#wrapper{
	margin-left: auto;
	margin-right: auto;
	background-color: #999;
	width: 980px;
    height: 900px; 

    
}

body{
	/* background-color: #666;*/
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;

background: #f6ff53; /* old browser*/
    background: -moz-linear-gradient(top, #f6ff53 55%); /* FireFox 3.7 – 15 */
    background: -webkit-linear-gradient(top, #f6ff53 0%,#b6e842 55%); /*Chrome 10 – 25,  Safari5.1 – 6 */
    background: linear-gradient(to bottom, #f6ff53 0%, #b6e842 55% );
    filter: progid:DXImageTransform.Microsoft.grandient( startColorstr='#f6ff53', endColorstr='#b6e842',GrandientType=0); /* Internet Eplorer 6-9 */

}

header{
	width: 100%;
	height: 200px;
	background-color: #0F0;

} 

nav{
	width: 100%;
	height: 50px;
	background-color: #000;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-family:  Arial, sans-serif;
	padding-top: 1px;
	text-align: center;
}

nav ul li{
	list-style-type: none;
}

nav ul li a{
	height: 30px;
	width: 150px;
	display: block;
	float: left;
	text-decoration: none;
	color: #FFF;
}



aside{
	width: 280px;
    height: 590px; 
	background-color: #E9E9E9;
	margin-right: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	
}

section {

	margin-left: 300px;
	width: 650px;
	height: 590px; 
	background-color: #E9E9E9;
	float:right;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;

}


section h1{
	color: #0F0;
}



body > footer{
	width: 100%;
	height: 50px;
	margin-top: 10px;
	text-align: center;
	font-size: 12px;
	color: #FFF;
}



#TanzAusDenMai{
	width: 	250px;
	height: 500px;
	margin-left: 10px;
	margin-top: 10px;
	position: absolute;

}

.shadow{
	/* webkit... moz für mozialla, box für andere browser die webkit nicht unterstützen */
	-webkit-box-shadow: 0px 10px 10px #000;
	-moz-box-shadow: 0px 10px 10px #000;
	box-shadow: 0px 10px 10px #000;
}

article footer{
	margin-left: 100px;
	text-align: center;
	width: 400px;
	height: 20px;
	font-size: 12px;
	font-family: Calibri, sans-serif;
	color: black;
	background-color: #F8F2EF;
	border: 1px solid #F7BE81;
	padding:  5px;
	margin-bottom: 40px;

}

footer{
	width: 100%;
	height: 50px;
	background-color: #000;
	margin-top: 10px;
	font-weight: bold;
	padding-top: 1px;
	text-align: center;
}

footer ul li{
	list-style-type: none;
}

footer ul li a{
	height: 30px;
	width: 150px;
	display: block;
	float: left;
	text-decoration:none;
	color: #FFF;
}